page-program-details {

}

.programDetail-img {
  display:block;
  width:100%;
  height:300px;
  object-fit: cover;
  margin-left:auto;
  margin-right:auto;
  background-color: #ccc;
}

.show-list-numbers-and-dots p {
  color: #796c6c;
  padding-right: 20px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: inherit;
}

.item-md.item-block .item-inner {
    border-bottom: 1px solid #ccc;
    border-bottom-color: #fff !important;
    box-shadow: inset 0 -1px 0 0 #ccc !important;
}

label.disable-hover.button.button-md.button-default.button-default-md{
  background-color: #2794dc;
}

.programDeatilShadow {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.20);
  padding: 15px 15px;
}
