page-program-details {

}

.programDetail-img {
  display:block;
  width:100%;
  height:300px;
  object-fit: cover;
  margin-left:auto;
  margin-right:auto;
}

.show-list-numbers-and-dots p {
  color: #796c6c;
  padding-right: 20px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: inherit;
}
